<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Altere o preço da gasolina</h5>
              <form class="form-signin">               
                <div class="form-label-group">
                  <label for="inputText">Gasolina</label>
                  <input type="text" id="inputText" class="form-control" placeholder="Digite seu endereço" required autofocus>                </div>
                <div class="form-label-group">
                  <label for="inputText">Alcool</label>
                  <input type="text" id="inputText" class="form-control" placeholder="Digite seu CNPJ" required autofocus>                </div>
                <div class="form-label-group">
                  <label for="inputText">Premium</label>
                  <input type="text" id="inputNumber" class="form-control" placeholder="O numero do posto" required autofocus>
                </div>               
                <div class="form-label-group">
                  <label for="inputFile">Altere a foto</label>
                  <input type="file" id="inputFile" class="form-control" placeholder="Foto do posto" required autofocus>
                </div>
                <div class="form-label-group">    
                  <label for="comment">Alterar serviços extras do posto:</label>
                  <textarea class="form-control" rows="5" id="comment">Deseja alterar os serviços extras? Siga em frente!</textarea>
                  </div>                      
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Alterar</button>
                <hr class="my-4">
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
