<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Cadastrar</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Digite seu e-mail" required autofocus>
                <label for="inputEmail"></label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Digite sua senha" required>
                <label for="inputPassword"></label>
              </div>
              <div class="form-label-group">
                <input type="text" id="inputText" class="form-control" placeholder="Digite seu endereço" required autofocus>
                <label for="inputText"></label>
              </div>
              <div class="form-label-group">
                <input type="text" id="inputText" class="form-control" placeholder="Digite seu CNPJ" required autofocus>
                <label for="inputText"></label>
              </div>
              <div class="form-label-group">
                <input type="text" id="inputText" class="form-control" placeholder="Digite seu Telefone" required autofocus>
                <label for="inputText"></label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Cadastrar</button>
              <hr class="my-4">
              <p class="link">  
                Já tem conta?
                <a href="login"> Entre em sua conta! </a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
    
        