<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Cadastre o seu posto</h5>
              <form class="form-signin">               
                <div class="form-label-group">
                  <input type="text" id="inputText" class="form-control" placeholder="Digite seu endereço" required autofocus>
                  <label for="inputText"></label>
                </div>
                <div class="form-label-group">
                  <input type="text" id="inputText" class="form-control" placeholder="Digite seu CNPJ" required autofocus>
                  <label for="inputText"></label>
                </div>
                <div class="form-label-group">
                  <input type="text" id="inputNumber" class="form-control" placeholder="O numero do posto" required autofocus>
                  <label for="inputText"></label>
                </div>
                <div class="form-label-group">
                  <input type="number" id="inputNumber" class="form-control" placeholder="Preço da gasolina" required autofocus>
                  <label for="inputNumber"></label>
                </div>
                <div class="form-label-group">
                  <input type="number" id="inputNumber" class="form-control" placeholder="preço do alcool" required autofocus>
                  <label for="inputNumbert"></label>
                </div>
                <div class="form-label-group">
                  <input type="number" id="inputNumber" class="form-control" placeholder="preco da premium" required autofocus>
                  <label for="inputNumber"></label>
                </div>
                <div class="form-label-group">
                  <input type="file" id="inputFile" class="form-control" placeholder="Foto do posto" required autofocus>
                  <label for="inputFile"></label>
                </div>
                <div class="form-label-group">    
                  <label for="comment">Serviços extras do posto:</label>
                  <textarea class="form-control" rows="5" id="comment">Ex:loja de conveniência, borracharia e etc</textarea>
                  </div>                      
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Cadastrar</button>
                <hr class="my-4">
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>